# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build (optional to ignore, but built during deployment)
client/dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
